__pycache__
.vscode
.DS_Store

# project-specific stuff
repositories
tmp
models
training_checkpoints
checkpoints
dataset.npz
_pygments_aux
_python_aux
_clean_dataset_aux
input.txt
*.gz
*.pkl

# python wheel stuff
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
build
dist
*.egg-info
*.whl
*.tar.gz
*.pyc