__pycache__
.vscode
.DS_Store

# project-specific stuff
repositories
tmp
models
training_checkpoints
checkpoints
dataset.npz
_training_aux

# python wheel stuff
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
build
dist
*.egg-info
*.whl
*.tar.gz
*.pyc
